@use "./breakpoints.module.scss";

.maxPage{
    width: 80%;

     @include breakpoints.sm {
        width: 70%;
    }
    @include breakpoints.md {
        width: 70%;
    }
    @include breakpoints.xl {
        width: 65%;
    }

    overflow: hidden;
}

@mixin Flex($dir, $justify: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items:  $align;
}

.RowCenter{
    @include Flex(row);
}