
@import "../../styles/core/text.module.scss";
@import "../../styles/core/layout.module.scss";
@import "../../styles/core/breakpoints.scss";

button, input , textarea{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

textarea{
    resize: none;
}

.container{
    @include Flex(column);
    @include md {
        @include Flex(row)
    }
    overflow: hidden;
    height: 100%;
}

.appTitle {
    display: flex;
    flex-direction: column;
    color: #F20F38;
    @include medFont(1);
    @include md {
        @include largeFont(1);

    }
}

.appTitle:after {
    content: '';
    width: 25px;
    height: 4px;
    background: #F20F38;
}

.appContact {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #888;
}

.appFormGroup {
    margin-bottom: 15px;
}

.appFormGroup.message {
    margin-top: 40px;
}

.textArea{
    height: 15vh;
    text-transform: uppercase;
}

.appFormControl {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    @include medFont(0);
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.appFormControl::placeholder {
    color: #666;
}

.appFormControl:focus {
    border-bottom-color: #ddd;
}

.appFormButton {
    background: none;
    border: none;
    color: #F20F38;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: right;
}

.appFormButton:hover {
    color: #b9134f;
}