@use './core/brand.module.scss';
@use './core/layout.module.scss';
@use './core/text.module.scss';
@use './core/breakpoints.module.scss';

.header{
    background-color: brand.$dark;
    color: brand.$offWhite;
    width: 100vw;
    height: 8vh;
    
    @include layout.Flex(row);

    font-family: "Days One", sans-serif;
    font-weight: 100;
    font-style: normal;

    @include text.smallFont()
}

.hero{
    height: 50vh;
    background-color: brand.$primary;

    @include layout.Flex("column");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(138, 138, 138, 0.5);
    background-blend-mode: multiply;
}

.about{
    min-height: 80vh;
    background-color: brand.$offWhite;

    @include layout.Flex(column);

    gap: 20px;

    div{
        width: 100%;
        @include layout.Flex(column);
    }

    @include breakpoints.xl{
        @include layout.Flex(row, 'flex-Start', 'Flex-Start');
    }
}

.aboutleft{ 
    p{
        width: 80%;
        text-align: justify; 
    }
}

.aboutright{
    @include layout.Flex(row);
}

.me{
    height: 10em;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    @include breakpoints.sm{
        height: 12em;
    }
    @include breakpoints.md{
        height: 25em;
    }
}

.contact{
    min-height: 40vh;
    background-color: brand.$dark;

    @include layout.Flex(column);
}

.reviews{
    height: 10vh;
}

.footer{
    background-color: brand.$dark;
    color: brand.$offWhite;
    width: 100vw;
    height: 8vh; 

    @include layout.Flex(row);
}

.why{
    @include text.medFont(-0.4);
    color: brand.$dark;
}

.midBanner{
    background-color:#F20F38;
    height: 8em;
    text-align: center;
    @include layout.Flex(column);

    p{
        color: brand.$offWhite;
        font-weight: 900;
        @include text.largeFont(0);
        margin: 0.2em 0;
    }
}


.ctaBanner{
    background-color:brand.$dark;
    height: 14em;
    text-align: center;
    @include layout.Flex(column);

    margin: 0 0  6em 0em;

    p{
        color: brand.$offWhite;
        font-weight: 900;
        @include text.largeFont(0);
        // margin: 0.2em 0;
    }
}

.ctaWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing{
    min-height: 50vh;
    background-color: brand.$offWhite;

    @include layout.Flex(column);
}
