@import './core/brand.module.scss';
@import './core/layout.module.scss';
@import './core/text.module.scss';

.header{
    background-color: $dark;
    color: $offWhite;
    width: 100vw;
    height: 8vh;
    
    @include Flex(row);

    font-family: "Days One", sans-serif;
    font-weight: 100;
    font-style: normal;

    @include smallFont()
}

.hero{
    height: 50vh;
    background-color: $primary;

    @include Flex("column");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(138, 138, 138, 0.5);
    background-blend-mode: multiply;
}

.about{
    min-height: 80vh;
    background-color: $offWhite;

    @include Flex(column);

    gap: 20px;

    div{
        width: 100%;
        @include Flex(column);
    }

    @include xl{
        @include Flex(row, 'flex-Start', 'Flex-Start');
    }
}

.aboutleft{ 
    p{
        width: 80%;
        text-align: justify; 
    }
}

.aboutright{
    @include Flex(row);
}

.me{
    height: 10em;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    @include sm{
        height: 12em;
    }
    @include md{
        height: 20em;
    }
}

.contact{
    min-height: 50vh;
    background-color: $dark;

    @include Flex(column);
}

.reviews{
    height: 10vh;
}

.footer{
    background-color: $dark;
    color: $offWhite;
    width: 100vw;
    height: 8vh; 

    @include Flex(row);
}

.why{
    @include medFont(-0.4);
    color: $dark;
}

.midBanner{
    background-color:#F20F38;
    height: 8em;
    text-align: center;
    @include Flex(column);

    p{
        color: $offWhite;
        font-weight: 900;
        @include largeFont(0);
        margin: 0.2em 0;
    }
}

.pricing{
    min-height: 50vh;
    background-color: $offWhite;

    @include Flex(column);
}
