---
export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/think-piano/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Days+One&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 100%;
	
	}
	html {
		font-family: system-ui, sans-serif;
		/* background-color: #ee5252; */
		color-scheme: dark;
		width: 100%;

		font-family: "Outfit", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body{
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: #F2F2F2;

		overflow-y: scroll;
		overflow-x: hidden;
		-ms-overflow-style: none; /* IE, Edge */
		scrollbar-width: none;    /* Firefox */

	}

	/* Chrome, Safari,  */
	body::-webkit-scrollbar{
		display: none; 
	}


</style>
